<div>
<div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Customers</h1>
                </div>
                
                <div class="col-lg-12">
                
                   
   <div class="table-responsive">
  <table class="table table-bordered table-striped">
    <colgroup>
      <col class="col-xs-1">
      <col class="col-xs-7">
    </colgroup>
    <thead>
      <tr>
        <th>No</th>
         <th>Name</th>
        <th>Username</th> 
        <th>Email</th> 
         <th>Phone</th> 
        <th>Edit</th>
      </tr>
    </thead>
    <tbody>
       <tr ng-repeat="customer in customers">
        <th scope="row">{{$index+1}}</th>
        <td>{{customer.name}}</td>
         <td>{{customer.usrName}}</td>
         <td>{{customer.emailAddress}}</td>
         <td>{{customer.phone}}</td>
         <td><button type="button" class="btn btn-success">Detail</button></td>
       </tr>
       
    </tbody>
  </table>
</div>
                   
                
                 </div>
                
             </div>
</div>             