
<div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Dashboard</h1>
                </div>
                
                <div class="col-lg-8">
                <div class="col-lg-5 panel-01"> 
                 <div class="col-lg-2"><i class="fa fa-mail-forward" aria-hidden="true"></i></div>
                <div class="col-lg-10"> Demo</div>
                  </div>
                 
                <div class="col-lg-5 panel-02"> 
                 <div class="col-lg-2"><i class="fa fa-mail-forward" aria-hidden="true"></i></div>
                <div class="col-lg-10"> <strong>3</strong><br> Demo</div>
                  </div>
                  
                <div class="col-lg-5 panel-03"> 
                 <div class="col-lg-2"><i class="fa fa-mail-forward" aria-hidden="true"></i></div>
                <div class="col-lg-10"> <strong>8</strong><br>Demo</div>
                  </div>
                  
                  <div class="col-lg-5 panel-04"> 
                 <div class="col-lg-2"><i class="fa fa-mail-forward" aria-hidden="true"></i></div>
                <div class="col-lg-10"> <strong>4</strong><br>Demo</div>
                  </div>
                  
                                    
                  <div class="col-lg-5 panel-05"> 
                 <div class="col-lg-2"><i class="fa fa-mail-forward" aria-hidden="true"></i></div>
                <div class="col-lg-10"> <strong>88</strong><br>Demo</div>
                  </div>
                  
               <div class="col-lg-5 panel-06"> 
                 <div class="col-lg-2"><i class="fa fa-mail-forward" aria-hidden="true"></i></div>
                <div class="col-lg-10"> <strong>0</strong><br>Demo</div>
                  </div>
                 
                 
                  </div>
                 
                 <div class="col-lg-4 panel-07">
                 <p align="center"><img src="img/order-bg.png"></p>
                 </div>
                 
            </div>
        